.header {
	background: url(../images/jelly.jpg) no-repeat center/cover;
	overflow: auto;
	height: 300px;
}

.logo-wrap {
}

.logo {
	width: 50px;
	height: 50px;
	margin: 50px auto;
	display: block;

	.logo-path-inner {

	}

	.logo-path-outer {

	}
}
