.header {
	/* background: url(../images/src/stay_tuned.jpg) no-repeat center center/cover; */
	overflow: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	@include respond-to(medium) {
		background-position: center 30%;
	}

}

.stay-tuned {

	.header-text {

		p {
			text-align: center;
			color: $grey;

			a {
				text-decoration: underline;
			}
		}

	}

	.stay-tuned_img {
		display: block;
		max-width: 100%;
		margin: auto;
	}
}

.logo-wrap {
}

.logo {
	width: 50px;
	height: 50px;
	margin: 50px auto;
	display: block;

	.logo-path-inner {
		fill: $green;
	}

	.logo-path-outer {
		fill: $blue;
	}

	&:hover {

	}
}

