// Susy
@import "../bower_components/susy/sass/susy";
$susy : (
	columns: 12,
	gutter: .25,
	container: 1200px,
	container-position: center,
	global-box-sizing: border-box,
/*	
	debug: (
		image: show,
		output: overlay,
		toggle: top,
	)
*/
);

@include global-box-sizing;

.container {
	@include container;
}


// Colors
$black: #333;
$white: #f4f4fa;
$blue: #0897f7;


// Fonts
$base-font-family: 'Roboto Mono', monospace;
$secondary-font-family: 'Montserrat', sans-serif;


// Font sizes
$base-font-size: 16px;
