// Susy
@import "../bower_components/susy/sass/susy";
$susy : (
	columns: 12,
	gutter: .25,
	container: 1200px,
	container-position: center,
	global-box-sizing: border-box,
/*	
	debug: (
		image: show,
		output: overlay,
		toggle: top,
	)
*/
);

@include global-box-sizing;

.container {
	@include container;
}


// Colors
$black: #333;
$grey: #48484A; 
$white: #f4f4fa;
$blue: #5697A1;
$green: #C0CF6F;


// Fonts
$base-font-family: 'Roboto Mono', monospace;
$secondary-font-family: 'Montserrat', sans-serif;


// Font sizes
$base-font-size: 16px;

// Screen sizes
$screen-small: 480px; 
$screen-medium: 960px;
$screen-large: 1200px;

// -- Mixins

// - respond-to($size)
@mixin respond-to($size) {
	@if $size == small {
		@media only screen and (max-width: $screen-small) { @content; }
	}

	@if $size == medium {
		@media only screen and (min-width: $screen-small) { @content; }
	}
	
	@if $size == medium-only {
		@media only screen and (min-width: $screen-small + 1) and (max-width: $screen-large - 1) { @content; }
	}

	@if $size == large {
		@media only screen and (min-width: $screen-large) { @content; }
	}
}

// -- Functions 

// - em($px)
@function em($px, $base-size: $base-font-size) {
	@return $px/$base-font-size * 1em;
}
